<div class="container">
    <div class="row col-sm-3 ml-auto">
        <a href="/add-products" class="btn btn-success mt-4 ml-auto ">Add Product</a>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="m-5" style="background: #fff;">
            <h2 class="text-center fw-bold text-decoration-underline">Products</h2>
            <table class="table align-middle mb-3 bg-white" id="example">
                <thead>
                    <tr>
                        <th width="8%" class="text-center">Sl No</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Category</th>
                        <th scope="col">Price</th>
                        <th scope="col" class="text-center">Quantity</th>
                        <th scope="col">Description</th>
                        <th scope="col" class="text-center">Offer % </th>
                        <th scope="col" class="text-center">Final Price</th>
                        <th scope="col">Image</th>
                        <th scope="col" class="text-center">Option&nbsp;&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    {{if products}}
                    {{#each products}}
                    <tr>
                        <td>{{math (math (math (math ../page '-' 1) '*' 10) '+' @index) '+' 1}}</td>
                        <td>{{this.Name}}</td>
                        <td>{{this.Category}}</td>
                        <td>{{this.Price}}</td>
                        <td class="text-center">{{this.quantity}}</td>
                        <td>{{this.Description}}</td>
                        <td>{{this.Offer}}</td>

                        <td>{{this.finalPrice}}</td>
                        <td><img src="/product-images/{{this.image}}" alt="" style="width:100px; height: 80px;"> </td>
                        <td class="text-center"  width="15%">
                            <a href="/edit?id={{this._id}}" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                            <a href="/delete?id={{this._id}}" class="btn btn-danger"
                                onclick="return confirm('Are you want to delete {{this.Name}} ?')"><i
                                    class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                    {{/each}}

                    {{/if}}
                </tbody>
            </table>
            
        </div>
        <div class="col-sm-3 col-lg-4 mb-5 ml-auto">
            <p>Showing Page {{page}} of {{totalPages}}</p>
            

            <a href="/list-Products?page=1" >| Home | </a>
            <a href="/list-Products?page={{math page '-' 1}}" {{#if (stringCompare page 1)}}style="pointer-events: none;"{{/if}} >Previous | </a>
            <a href="#" >{{page}} | </a>
            <a href="/list-Products?page={{math page '+' 1}}" {{#if (stringCompare page totalPages)}}style="pointer-events: none;"{{/if}}>Next | </a>
            <a href="/list-Products?page={{totalPages}}" >Last | </a>
            
        </div>

    </div>


</div>

<script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap4.min.js"></script>
<script>
    $(document).ready(function () {
        $('#example').dataTable({
            "order": []
        });
        //    var table = $('#example').DataTable({

    });
</script>